@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

.title {
  height: 100vh;
  background: #7a86cb;
}

.text-wrapper {
  font-family: 'Merriweather', serif;
  border: 2px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.text-wrapper h1 {
  position: relative;
  color: #6849e3;
  font-size: 4rem;
  transition: 300ms;
  letter-spacing: 15px;
  display: inline-block;
}

.text-wrapper h1:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.text-wrapper h1:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.text-wrapper h1:hover:after {
  animation: bottom-animation 50s linear
}

.text-wrapper h1:hover:before {
  animation: border-animation 50s linear;
}

.text-wrapper h1:hover {
  letter-spacing: 2px;
  color: white;
  /* border-top: 2px solid #6849e3; */
  /* border-bottom: 2px solid #6849e3; */
  cursor: pointer;
}

@keyframes border-animation {

  0% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent
  }

  1% {
    width: 100%;
    height: 100%;
    border-top-color: #6849e3;
    /* border-bottom-color: #6849e3; */
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #6849e3;
    /* border-bottom-color: #6849e3; */
  }
}

@keyframes bottom-animation {

  0% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent
  }

  1% {
    width: 100%;
    height: 100%;
    /* border-top-color: #6849e3; */
    border-bottom-color: #6849e3;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #6849e3;
    /* border-bottom-color: #6849e3; */
  }
}

.hamburger-menu {
  position: fixed;
  top: 2vw;
  left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background: #002;
  transition: 300ms;
  border-radius: 50%;
}

.hamburger-menu:hover {
  cursor: pointer;
  background: #6849e3;
}

.burger {
  width: 38px;
  height: 3px;
  background: white;
  margin: 2px 0;
}
