@import url("https://fonts.googleapis.com/css?family=Barlow|Merriweather&display=swap");

:root {
  --mint-green: rgb(150, 206, 180);
  --light-yellow: rgb(255, 238, 173);
  --light-red: rgb(255, 111, 105);
  --darker-yellow: rgb(255, 204, 92);
  --darker-green: rgb(136, 216, 176);
}

.App {
  overflow: hidden;
}

/* Title Page With Hover Animation */

.title {
  height: 100vh;
  background: #7a86cb;
  /* background: var(--mint-green); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  font-family: 'Merriweather', serif;
  border: 2px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-wrapper h1 {
  position: relative;
  color: #6849e3;
  /* color: var(--light-red); */
  font-size: 4rem;
  transition: 300ms;
  letter-spacing: 15px;
  display: inline-block;
}

.text-wrapper h1:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.text-wrapper h1:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: transparent;
  border: 2px solid transparent;
}

.text-wrapper h1:hover:after {
  animation: bottom-animation 50s linear
}

.text-wrapper h1:hover:before {
  animation: border-animation 50s linear;
}

.text-wrapper h1:hover {
  letter-spacing: 2px;
  color: white;
  cursor: pointer;
}

@keyframes border-animation {

  0% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent
  }

  1% {
    width: 100%;
    height: 100%;
    border-top-color: #6849e3;
    /* border-top-color: var(--light-red); */
    /* border-bottom-color: #6849e3; */
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #6849e3;
    /* border-top-color: var(--light-red); */
    /* border-bottom-color: #6849e3; */
  }
}

@keyframes bottom-animation {

  0% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-bottom-color: transparent
  }

  1% {
    width: 100%;
    height: 100%;
    /* border-top-color: #6849e3; */
    border-bottom-color: #6849e3;
    /* border-bottom-color: var(--light-red); */
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #6849e3;
    /* border-top-color: var(--light-red); */
    /* border-bottom-color: #6849e3; */
  }
}

/* Hamburger Menu */

.hamburger-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background: #6849e3;
  transition: 300ms;
  border-radius: 50%;
  z-index: 5;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.burger {
  width: 38px;
  height: 3px;
  background: white;
  margin: 2px 0;
  transition: all 300ms, background-color 200ms;
}

#hidden-burger {
  background: transparent;
}

#top-burger {
  transform: rotate(45deg);
  margin-left: 0;
  position: absolute;

}

#bottom-burger {
  transform: rotate(-45deg);
  position: absolute;
}

/* Buttons Page */

.buttons-page {
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a86cb;
  border-top: 1vh solid #6849e3;
}

button {
  color: #E6E7F2;
  border-radius: 50px;
  margin: 50px;
  /* border: 3px solid #42487B; */
  box-shadow: 0 0 3px 2px #42487B;
  border: 3px solid #727DBF;
  height: 50px;
  width: 150px;
  background: linear-gradient(#727DBF, #6872AF);
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  text-shadow: #7480C2 1px 1px 3px 5px;
  transition: background-color, 300ms;
}

button:hover {
  cursor: pointer;
  border: 3px solid #727DBF;
  background: linear-gradient(#6872AF, #727DBF);
  transition: 300ms;
  box-shadow: 0 0 3px 2px #616BA2;
}

button:focus {
  color: #6849E3;
  background: #383E5E;
  border: 2px solid #727DBF;
  text-shadow: none;
  outline: none;
  box-shadow: 0 0 3px 5px #6849E3;
}

button:enabled {
  content: none;
}

button:focus:after {
  content: "ED!";
}

/* Open Menu */

.open-menu {
  /* display: none; */
  flex-direction: column;
  text-align: left;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 85vw;
  background: rgba(104, 73, 227, 1);
  color: white;
  transition: transform 300ms, visibility 1000ms;
  z-index: 4;
}

#open {
  transform: translateX(0);
  visibility: visible;
}

#closed {
  transform: translateX(-100vw);
  /* opacity: 0; */
  visibility: hidden; 
}

.open-menu h1 {
  position: relative;
  left: 50px;
  transition: color 300ms;
}

.open-menu h2 {
  position: relative;
  left: 25px;
  transition: color 300ms;
}

.open-menu h1:hover {
  cursor: pointer;
  color: #DC153B;
}

.open-menu h2:hover {
  cursor: pointer;
  color: #DC153B;
}

.menu-content {
  position: relative;
  top: 80px;
}

/* Input Page */

.input-page {
  background: #7a86cb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
  border-top: 1vh solid #6849E3;
}

#input {
  background: #49517B;
  border: 1px solid #24283D;
  color: #E6E7F2;
  height: 30px;
  border-radius: 5px;
  transition: 500ms;
  padding: 5px;
  font-family: 'Barlow', sans-serif;
}

#input:focus {
  background: transparent;
  outline: none;
  border: 1px solid #0027FF;
  color: #383E5E;
}

#input:focus:empty {
  border-color: #0027FF;
}

label {
  color: #E6E7F2;
  position: relative;
  /* top: 48vh; */
  /* left: 45vw; */
  transition: 500ms;
  font-family: 'Barlow', sans-serif;
  z-index: 2;
}

#input:focus + label {
  /* top: 42vh; */
  color: #0027FF;
  background: #7a86cb;
}

#input:valid + label {
  /* top: 42vh; */
  color: #383E5E;
  background: #7a86cb;
}

#input:valid {
  background-color: transparent;
}

#input:focus:valid {
  border: 1px solid #383E5E;
}

/* Toggle Page */

.toggle-page {
  height: 99vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1vh solid #6849E3;
  text-align: center;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 75px;
  height: 35px;
  background: lightgrey;
  border-radius: 40px;
  user-appearence: none;
  -webkit-appearance: none;
}

#toggle-label {
  position: relative;
  height: 27px;
  width: 27px;
  background: grey;
  border: 1px solid grey;
  border-radius: 50px;
  right: 75px;
  transition: transform 300ms;
}

input:hover, #toggle-label:hover {
  cursor: pointer;
}

input:checked + #toggle-label {
  transform: translateX(41px);
  /* background: black; */
  /* border: 1px solid black; */
}

input:checked {
  background: darkgrey;
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 880px) {
  .buttons-page {
    flex-direction: column;
  }

  .text-wrapper h1 {
    font-size: 2rem;
  }
}
